<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>




<h1>Welcome %Member First Name%</h1>

<h2>You are ready to begin Raging</h2>

link to View Plates Comments</br>
link to Make Plates Comments</br>

