<h1>RoaD RageR</h1>

<h1>Welcome <%= current_user.fname %></h1>

<h2>You are ready to begin Raging</h2>

View RoaD RageR comments about your/other's plate:
</br>
<%= link_to "View Plates", plates_path %>
</br>
</br>

Leave RoaD RageR comments for others:
</br>
link to Make Plates Comments
</br>

