<h1>RoaD RageR</h1>

<h1>Welcome <%= current_user.fname %></h1>

<h2>You are ready to begin Raging</h2>

View comments about your plate:</br>
link to View Plates Comments</br></br>

Leave comments for others:</br>
link to Make Plates Comments</br>

