<h1>RoaD RageR</h1>
<h2>Welcome</h2>

<p> Have you ever been stuck in stop and go traffic on the freeway behind someone with no brake lights?  With no ability to notify them? You may have felt some Road Rage!
</p>

<p> Did someone park so close to your driver door you couldn't get in and had to climb through the passenger side? You may have felt some Road Rage and wanted to key their car like Edward Scissorhands!
</p>

<p> Channel your energy a little more positively, and notify them of a serious problem or just tell them off(nicely) via Road Rager! Of course, it requires everyone sign up, but it is easier and requires less time and/or money than a therapist or night in jail for a case of ROAD RAGE!
</p>

<p>
<h5>Check to see if anyone has left you any RoaD RageR messages:<h5></br>
((link to view comments page))
</br></br>

<h5>Send RoaD RageR messages to other drivers, after a simple sign up!<h5></br>
<%= link_to "Sign Up Page", new_user_path %>
</br></br>

<h5>Already a Road Rager member?<h5></br>
<%= link_to "Log In Page", login_path %>

</p>

